<!DOCTYPE html>
<html>
<head>
    <title>COMPROBANTE DE PAGO</title>
</head>
<body>
    <h1>Comprobante de pago</h1>
    <p>Hola <strong>{{name}}</strong>,</p>
    <p>Se ha generado comprobante de pago por concepto de su transacción: {{concept}} </p>  
    por la cantidad de: $<strong>{{amount}}</strong>.  
    <p>Gracias por elegir nuestra plataforma!</p> 
</body>
</html>